body {
  transition: background 0.2s linear;
}

body.dark-mode {
  background-color: black;
  filter: invert(1) hue-rotate(-180deg);
}

body.dark-mode .nes-icon,
body.dark-mode iframe,
body.dark-mode img {
  filter: invert(1) hue-rotate(-180deg);
}

header {
  z-index: 50;
  position: fixed;
  background-color: #d7dadf;
}

footer {
  z-index: 49;
  margin-top: 10%;
}

a.nounderline:hover {
  text-decoration: none;
}

#sidebar {
  position: fixed;
  z-index: 69;
  width: 50rem;
  height: 100%;
  padding: 2.1rem 1.2rem;
  background-color: #212529;
  border-right: 5px solid black;
  transition: all 0.2s linear;
}

#sidebar.collapse {
  transform: translate(-49rem);
}

#carousel {
  box-sizing: border-box;
}
#carousel .mySlides {
  display: none;
}
#carousel img {
  vertical-align: middle;
}

#carousel .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


#carousel .activecar {
  background-color: #717171;
}

#carousel .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}